/* ArticleComponent.css */

.article {
	border: 1px solid #ccc;
	padding: 40px;
	// margin: 16px;
	background-color: #f8f8f8;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	display: flex;
	flex-direction: column;

	&__headline {
		font-size: 24px;
		font-weight: bold;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	&__info {
		display: flex;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: 45px;
		}
	}
	&__link {
		text-decoration: none;
		color: #0077cc;
		margin-right: 16px;
	}
	&__time {
		color: #555;
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	&__image {
		float: left;
		margin: 0px 40px 40px 0px;
		max-width: 100%;
		border-radius: 10px;
		@media (max-width: 768px) {
			margin: 10px;
		}
	}
	&__body-text {
		flex: 1 1 50%;
		flex-wrap: wrap;
		font-size: 18px;
		line-height: 1.9;
		color: #333;
		&:first-letter {
			font-weight: 900;
		}
	}
	a {
		text-decoration: none;
		color: #0073e6;
		font-weight: bold;
	}

	a:hover {
		color: #ff6600;
		text-decoration: underline;
	}
	blockquote {
		background-color: #f7f7f7;
		border-left: 4px solid #0073e6;
		padding: 10px;
		margin: 10px 0;
		p {
			font-style: italic;
			color: #333;
		}
		a {
			text-decoration: underline;
			color: #0073e6;
		}
	}
}
a {
}

img {
	max-width: 80%;
	border-radius: 10px;
	height: auto;
	display: block;
	margin: 20px auto;
}
